<header class="header">
    <a href="#" class="header__logo">NodeJs</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">home</a>
            </li>
            <li>
                <a href="/about" class="">about</a>
            </li>
            <li>
                <a href="/contact" class="">contact</a>
            </li>
        </ul>
    </nav>

<div class="header__button">
    <button class="searchBtn" area-expanded="false">
        search
    </button>
</div>

</header>