*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: #fff;
}



body{
    background: black;
    text-transform: uppercase;   
    font-size: 12px;
}

.banner{
    width: 100%;
    /* height: 20vh; */
    /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/images/background_image.jg); */
    /* background-size: cover; */
    /* background-position: center; */
    /* padding-bottom: 10%; */
    /* border: solid green 2px; */
    
}

.logo{
    width: auto;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    margin-left: 10px;
    font-size:  25px;
}

.navbar{
    height: 80px;
    width: 100%;
    padding: 35px 0;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* display: flex; */
    /* margin: auto; */
}

.navbar ul{
    float: right;
    margin-right:20px;
}

.navbar ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
    list-style: none;
    position: relative
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 1s;
    
}

.navbar ul li:hover::after{
    width: 100%;
}

.checkbtn{
    font-size:  30px;
    color: white;
    float: right;
    line-height: 40px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display:none;
}

#signup{
    width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid red;
    background: red;
    cursor: pointer;
    text-transform: uppercase;
    
    
}

.content button{
    text-transform: capitalize;
    /* z-index: 0;  was 1 */
}


.content{
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-top: 20%;
    /* top: 20%; */
    /* border: solid red; */
}

.content h1{
    font-size: 50px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content span{
    /* background: #fff; */
    height: 90%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    left: 0;
    bottom: -12px;
    z-index: 0;
    transition: 0.5s;
    
}

.content button{
    width: 200px;
    padding: 17px;
    margin-top: 20%;
    /* margin: 90px 10px; */
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid red;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.content button:hover span{
    width: 100%;
}

.content button:hover {
    border: none;
    color: red;
}


.center {
    font-size: 1.25em;;
    color:white;
    text-transform: uppercase; 
    text-align: center;
    line-height: 3em;
    margin: 10% ;
    /* border: solid purple; */
    
}

.center a{
    font-size: 1em;
    text-transform: capitalize; 
}


/* start form  */

label{
    display: block;
    font-size: 1em;
    width: auto;
    
}
input[type="text"],
     [type="tel"]
 {
    color: black;
    width: auto;
    padding: 10px;
    font-size: 12px;
    /* background-color: #333; */
    /* background-color: ghostwhite; */
     
}

.myForm{
    width: 90%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.subbutton{
    width: 200px;
    padding: 17px;
    margin-top: 3%;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid red;
    background: transparent;
    cursor: pointer;
    font-size: 12px;
}


/* end form */


.container h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.container h1::after{
    content: '';
    background: red;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.container h1,h2{
    color: white;
}


.container{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    padding: 0 10%;
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-gap: 70px;
}

.service{
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.5s, background 0.5s;
}

.service img{
    width: 100px;
    background:transparent;
}



.service h2{
    font-weight: 600;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.service:hover{
    color: #fff;
    transform: scale(1.25);
    
}

.closingwords h2{
    font-size: 1.5em;
    padding-top: 40px;
    text-align: center;
    letter-spacing: .2em;
    font-weight: 100;
}



/* --------------------------------------------------------------------- */


@media (min-width: 375px) and (max-width: 820px) {




    .checkbtn{
        font-size: 30px;
        display: block; 
        margin-top: -auto;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background: black;
        opacity: 0.95;
        z-index: 2;
    }

    .nav1 ul li{
        display: block;
        margin:  50px 0;
        line-height: 30px;
    }

    /* nav ul li a{
        font-size: 20px;
    } */

    .navbar a:hover,.navbar a.active{
        background: none;
        /* color: red; */
    }

    #check:checked ~ ul{
        left: 0;
    }

    .navbar ul li::after{
        background-color: red;
        position: absolute;
        left: 40%;
        bottom: -5px;
        transition: 0.5s;
    }
    
    .navbar ul li:hover::after{
        width:  20%;
    }

    .content h1{
        font-size: 33px;
    }

    .content button{
        width: 165px;
        padding: 10px;
        /* margin-top: 10%; */
        /* margin: 90px 10px; */
        text-align: center;
        /* border-radius: 25px; */
        font-weight: bold;
        border: 2px solid red;
        background: transparent;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 0;
    }
    
    .center {
        display: none;
    }

    
    .myForm h1{
        font-size: 16px;
        margin: 10px 0;
    }
    
    .myForm h1 + span{
        text-transform:capitalize;
    }
    
    .myForm .firstname {
        /* border: 1px solid cornflowerblue; */
        margin-top: 10%;
    }
    
    .subbutton{
        width: 165px;
        padding: 10px;
        margin-top: 20% 0;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid red;
        background: transparent;
        cursor: pointer;
        font-size: 12px;
    }

    .container h1,h2{
        color: white;
    }
    
    
    .container{
        margin: 0 auto;
        width: 100%;
        height: 90vh;
        padding: 0 10%;
    }    

    .row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-gap: 50px;
    }
    .service{
        font-size: 1em;
        cursor: pointer;
        transition: transform 0.5s, background 0.5s;
    }
    
    .service img{
        width: 80px;
        background:transparent;
    }
    
    
    
    .service h2{
        font-weight: 300;
        width: 100px;
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        line-height: 15px;
        
        /* border: 1px solid red; */
    }
    
    .service:hover{
        color: #fff;
        transform: scale(1.25);
        
    }

    .closingwords h2{
        font-size: .86em;
        text-align: center;
        font-weight: 700;
    }
    
}
