.hero__header .head-sign-up, .head-sign-up, .head-sign-up:hover
{
    background-color: #de0421 !important;
    border: 1px solid #de0421 !important;
    color:#fff important;
}
.head-sign-up
{
  color:#fff !important;
}
h2.demotitle
{
  text-align:center;
  text-transform:uppercase;
}
p.demodesc
{
  text-align:center;
  margin-bottom:30px
}
p.demodescbottom
{
  text-align:center;
  margin-top:30px;
}
/*
     FILE ARCHIVED ON 22:57:21 Jun 13, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:36:28 Jun 25, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.25
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.058
  cdx.remote: 0.052
  esindex: 0.008
  LoadShardBlock: 59.672 (3)
  PetaboxLoader3.datanode: 83.228 (4)
  load_resource: 194.853
  PetaboxLoader3.resolve: 126.038
*/